.bgvideo{
    width: 100%;
    height: 70vh;
position: relative;
display: flex;
justify-content: center;
    align-items: center;
}
.bgvideo video{
    width: 100%;
    height: 70vh;
position: absolute;
object-fit: cover;
z-index: 1;
}
.videotext{
    z-index: 2;
    color: rgb(250, 169, 169);
}
.adres-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5xp;
    border-style: groove;
    border-color:rgb(red) ;
}
.adres-card img{
       width: 250px;
}
.adres-card h3{
        color: rgb(247, 155, 155);
}
.adres-card h4{
        color: rgb(247, 155, 155);
}
