@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
body{
    font-family: Roboto;
    background: linear-gradient(90deg, #ff0000 0%, #050505 100%);
}
p{
     color: rgb(247, 155, 155);   
}
.navbar .navbar-nav .nav-link.active{
    color: red;
}
.navbar .navbar-nav .nav-link{
    color: rgb(247, 155, 155);
}
.navbar-brand img{
    width: 40px;
}
.navbar-toggler{
    background-color: red;
}
.nav-right{
    color: rgb(250, 169, 169);
    background: linear-gradient(-90deg, #ff0000 0%, #050505 100%);
}
.card{
    color: rgb(250, 169, 169);
    background: linear-gradient(-90deg, #ff0000 0%, #050505 100%);
}
.card-body>a{
text-decoration: none;
color:  rgb(250, 169, 169);
}
.slide-text{
  color:  rgb(250, 169, 169);
  margin: auto auto;  
 }
 footer,
 .btn-outline-primary{
     background: linear-gradient(-90deg, #ff0000 0%, #050505 100%);
 }
.footer-text{
     color:  rgb(250, 169, 169);
  margin: auto auto;  
}
.phone-anim{
    animation: myAnim 2s ease 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
 @media(max-width: 750px){
.carousel-indicators{
    display: none;
}
 }
 .footer-text  a{
    text-decoration: none;
         color:  rgb(250, 169, 169);
 }